OPENAI_API_KEY=XXX

OPENAI_MODEL=gpt-4o-mini

DEBUG=true
PORT=3000
NODE_ENV=development
CORS=http://ai-hr.sencha.local

# Allows a max of 100 requests per every 15 minutes per ip to avoid oversaturation
REQUEST_MAX = 100
REQUEST_TIME = 15


# MYSQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=webuser
DB_PASSWORD=123456
DB_NAME=test_app
DB_CONNECTION_LIMIT=10

CORS=http://ai-eval.sencha.local,http://localhost:1841,http://127.0.0.1